.detail{
    text-align: left;
    font-size: larger;
    
}
#always{
    margin-top: 15%;
}
#products{
    margin-top: 15%;
}
#addTo{
    margin-left: 80%;
    margin-top: 10%;
}
#device{
    margin-left: 5%;
    margin-top: 6%;
    
}